/* Reset de estilos básicos para asegurar consistencia en diferentes navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor principal */
div {
  @apply flex;
  @apply flex-col;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% del alto de la ventana visible */
  background-color: #f0f0f0; /* Color de fondo */
}

/* Estilos para el primer párrafo dentro del contenedor principal */
div p:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos para el segundo contenedor dentro del contenedor principal */
div > div {
  max-width: 600px; /* Ancho máximo del segundo contenedor */
  text-align: center;
}

/* Estilos para los párrafos dentro del segundo contenedor */
div > div p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Estilos para el enlace "Get Started" */
div > div p:last-child {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff; /* Color del texto */
  background-color: #4caf50; /* Color de fondo del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición en el color de fondo */

  /* Añade un efecto de cambio de color al pasar el ratón */
  &:hover {
    background-color: #45a049;
  }
}

.img {
  background-image: '../assets/images/img-background.jpg';
}
